body {
  background: rgb(204,204,204); 
}
page[size="A4"] {
  background: white;
  width: 21cm;
  height: 26.7cm;
  /* height: 29.7cm; */
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  /* box-shadow: 0 0 0.5cm rgba(0,0,0,0.5); */
}
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}